body {
    background-color: rgb(75,75,74);
    color: antiquewhite;
}

.jumbo-color{
    background-color: rgb(83,81,81);
    padding-top: 45px;
    padding-bottom: 45px;
}

.form-control{
    background-color: rgb(177,168,168);
}
