{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10 ">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facere id in exercitationem temporibus minus sapiente magnam laboriosam odit vero ducimus dolores. Odit eos soluta ut obcaecati aliquid? Quae, omnis.
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem rem modi maiores impedit magnam dolore. Dolorem error dicta quasi fugit aliquid architecto saepe commodi, magni illo ipsam necessitatibus odit voluptate officia itaque sapiente corrupti provident asperiores est dolore? Et, quidem sunt. Deleniti nulla quas possimus vero molestias mollitia, explicabo aspernatur!</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repellendus labore quod dolorum ipsum ipsa voluptatem? Quia minus dolorem asperiores corporis veritatis natus iure maxime ipsam vitae temporibus, accusantium quasi quae, quidem quis facere repudiandae adipisci obcaecati iste possimus harum?
    </p>
</div>
{% endblock content %}   